GOOGLE_SHEETS_ID="your_spreadsheet_id"
GOOGLE_SHEETS_RANGE="Participants!A:E"
GOOGLE_SERVICE_ACCOUNT_EMAIL="sheets-service-account@project.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
ADMIN_PASSWORD="change-this-admin-password"
